<% provide(:title, "Home") %>

<div> <!-- Wrapper -->
  <h1 class="primary-title">Bike Racks Locations</h1>
  <div>Map is here</div>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <!--<div class="container">-->

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <div id="map-container">
        <div id="map-canvas">

        </div>
      </div>



    <!--</div>-->


  </div>
</div>
