@import "bootstrap-sprockets";
@import "bootstrap";

$main-green: #00a651;
/* universal */
body {
  padding-top: 60px;
  height: 100%;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.btn{
  margin-top: 10px;
}

.primary-container {
  margin: 10px auto;
  width: 60%;
}
@media (max-width: 668px) {
  .primary-container {
    width: 90%;
  }
}

/* typography */
.primary-title{
  color: #00a651;
  text-align: center;
  /*font-size: 2em;*/
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $main-green;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $main-green;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#text-logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $main-green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover{
    color: #017dff;
    background-color: #ffffff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: $main-green;
      background-color: #ffffff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* My style */
.center {
  text-align: center;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 2em;
  margin-bottom: 20px;
}

/* The navigation color when active is green */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.navbar-inverse,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a{
  background-color: $main-green;
  color:          #ffff;
  text-shadow:    none;
}
.nav > li.active,
.primary-color{
  color: $main-green;
}


/*****************************/
#map-container {
  width: 100%;
  height: 500px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px; }

#map-canvas {
  height: 100%;
  width: 100%;
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  //max-width: none;
  width:100%;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
  width:100%;

}

#search_options {
  margin: 18px 0;
}

#geocoding,
#reverse_geocoding {
  background-color: #e6e6e6;
  border-style: solid;
  border-radius: 11px;
  border-color: #e6e6e6;
  color: #666;
  padding: 0 8px;
  text-decoration: none;
}

/******************************/
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}