<!DOCTYPE html>
<html>
  <head>
    <title>Bike Rack Server</title>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <%= yield %>
  </body>
</html>