<footer class="primary-color footer">
  <small>
    Capstone BikeRack Project &copy; 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>