<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Bike Available', root_path, class: 'navbar-brand' %>
      <%= link_to 'Rack Available', '#', class: 'navbar-brand' %>
      <%= link_to 'Credit Card Testing', new_charge_path, class: 'navbar-brand' %>

    </div>
    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<%= render 'layouts/navigation_links' %>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</nav>
